@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

@layer base {
  :root {
    --background: #e2e8f0;
    --foreground: #0f172a;
    
    --primary: #1d4ed8; 
    --primary-foreground: #ffffff;
    
    --secondary: #cbd5e1;
    --secondary-foreground: #0f172a;
    
    --muted: #f1f5f9;
    --muted-foreground: #475569;
    
    --accent: #cbd5e1;
    --accent-foreground: #0f172a;
    
    --border: #94a3b8;
    
    --card: #f8fafc;
    --card-foreground: #0f172a;
  }

  .dark {
    --background: #000000; /* True Black */
    --foreground: #ffffff;
    
    --primary: #3b82f6; 
    --primary-foreground: #ffffff;
    
    --secondary: #0a0a0a; /* Very Dark Gray */
    --secondary-foreground: #e4e4e7;
    
    --muted: #18181b;
    --muted-foreground: #a1a1aa;
    
    --accent: #27272a;
    --accent-foreground: #ffffff;
    
    --border: #27272a;
    
    --card: #121212;
    --card-foreground: #ffffff;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    line-height: normal;
  }
}
